
<html>
  <body>
    <h1>Hello, world!</h1>
    <h2>ipaddress: <%= node["ipaddress"] %>
    <h2>hostname: <%= node["hostname"] %>
    <% if (50 + 50) == 100 %>
    50 + 50 = <%= 50 + 50 %>
    <% else %>
    hey hey hey 
    <% end %>


  </body>
</html
